.footer {
  background: #5B2333;
  height: 600px;
  overflow: hidden;
  position: relative;
}

/* Top row */
.top {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
}

/* Left text */
.brand {
  max-width: 60%;
  color: #F7F4F3;
}

.tagline {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}

/* BIG TEXT */
.logo {
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);  /* true center */

  font-size: clamp(60px, 14vw, 170px); /* responsive size */
  font-weight: 100;
  line-height: 1;
  letter-spacing: -4px;
  white-space: nowrap;
  color: #F7F4F3;
}



/* Right columns */
.links {
  display: flex;
  gap: 120px;
  color: #F7F4F3;
}

.column h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  font-size: 18px;
  margin-bottom: 18px;
  opacity: 0.7;
}
