.container {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
}

.container h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

.container p {
  margin-bottom: 16px;
}

.container ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 16px;
}

.container li {
  margin-bottom: 8px;
}

